<header class="header header--detailIndent" id="header">
  <a href="#" class="logo">
    <img src="./../../../../assets/img/logo.png" alt="logo">
  </a>
  <form action="#" class="form form--search form--borderColor">
    <button type="submit" class="form__searchSubmit"></button>
    <input type="search" class="form__searchInput" placeholder="Try find somethink">
  </form>
  <div class="userMenu userMenu--bgColor">
    <div class="user user--usrMenuIndent">
      <a class="user__avatar" href="" routerLink="login">
        <img src="./../../../../assets/img/userAvatar.png" alt="avatar">
      </a>
      <p class="user__name user__name--whiteColor">Kim Evans</p>
    </div>
    <button class="userMenu__logout">
      <img src="./../../../../assets/img/logoutIcon.png" alt="logout icon">
    </button>
  </div>
</header>
