<section class="loginPage">
  <div class="signWrapper">
    <div class="signLogoWrap">
      <img src="./../../assets/img/signLogo.png" alt="Sell It">
    </div>
    <div class="signTabWrap">
      <div class="tabBtn">
        <button
          class="tabBtn__item"
          [class.active]="isActive"
          (click)="changeTab(true)"
        >Sign In</button>
        <button
          class="tabBtn__item"
          [class.active]="!isActive"
          (click)="changeTab(false)"
        >Sign Up</button>
      </div>
      <div class="tabContent">
        <app-sign-in-form
          (submitForm)="signIn()"
          *ngIf="isActive"
        ></app-sign-in-form>
        <app-sign-up-form
          *ngIf="!isActive"
          (submitSignUp)="signUp(form)"
        ></app-sign-up-form>
      </div>
    </div>
    <footer class="footerLoginPage">
      <p class="footerLoginPage__copy">Frontend Labs 2018</p>
    </footer>
  </div>
</section>
