@import "./../../../../assets/sass/base/mixins.scss";

.productItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(25% - 20px);
  min-width: 300px;
  margin: 0 10px 25px;
  cursor: pointer;
  &:hover &__img {
    opacity: 0.7;
  }
  &__img {
    flex: 1;
    transition: opacity .6s;
    img {
      //width: 100%;
      //height: 100%;
      object-fit: cover;
    }
  }
  &__descr {
    padding: 15px;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
    background-color: var( --blue) ;
  }
}
