<app-header></app-header>
  <section class="productList" appInfinityScroll (scrollDown)="getProduct()">
  <div class="productsWrapper">
      <app-product-item
        *ngFor="let product of productList"
        class="productItem"
        [title]="product.theme"
        [srcImg]="product.images.file"
        [routerLink]="['detail', product.pk]"
      >
      </app-product-item>
  </div>
  <button type="button" class="scrollToTop" appScrollToTop></button>
</section>
