@import "./../../assets/sass/base/mixins.scss";


.productList {
  padding: 0 50px;
  .productsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
  }
}

.scrollToTop {
  display: none;
  width: 40px;
  height: 40px;
  right: 5px;
  bottom: 10%;
  position: fixed;
  opacity: 1;
  transition: .4s;
  border-radius: 40%;
  background-color: var(--blue);
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 55%;
    left: 10px;
    border: 5px solid var( --white);
    border-right: 0;
    border-bottom: 0;
    width: 15px;
    height: 15px;
    transform: translateY(-50%) rotate(45deg);
  }
}


