<app-header></app-header>
<section class="detailPage">
  <article class="product">
    <div class="slider">
      <div class="slidesWrapper">
        <div class="slider__item">
          <img src="{{product.images[0].file}}" alt="product photo">
        </div>
        <div class="slider__item">
          <img src="./../../assets/img/productPhoto.png" alt="product photo">
        </div>
        <div class="slider__item">
          <img src="./../../assets/img/productPhoto.png" alt="product photo">
        </div>
      </div>
      <div class="arrows">
        <a class="arrows__left" href="#" >
          <img src="./../../assets/img/arrowSlider.png" alt="arrow left">
        </a>
        <a class="arrows__right" href="#" alt="arrow right">
          <img src="./../../assets/img/arrowSlider.png" alt="right arrow">
        </a>
      </div>
    </div>
    <div class="productDescr">
      <div class="productDescrHead">
        <h3 class="productDescr__title">{{product.theme}}</h3>
        <span class="productDesct__author">from
              <a href="#" class="linkToUserPage linkToUserPage--inProductDescr linkToUserPage--blue"> Alis Kim </a>
            </span>
        <span class="productDescr__price productDescr__price--greenColor">{{product.price}} $</span>
      </div>
      <div class="productDescr__wisiwygEditer">
        {{product.text}}
        <!--<ul>-->
          <!--<li>Some description text from WYSIWYG editer</li>-->
          <!--<li>Can be <b>BOLD</b> <i>italic</i> </li>-->
          <!--<li>Can have list :</li>-->
          <!--<li>-->
            <!--<ol>-->
              <!--<li>First</li>-->
              <!--<li>Second</li>-->
            <!--</ol>-->
          <!--</li>-->
          <!--<li><b>And anything from WYSIWYG editor</b></li>-->
          <!--<li><b>Some line</b></li>-->
          <!--<li>Some line</li>-->
          <!--<li><i>Some line</i></li>-->
          <!--<li><b>Finished on this line</b></li>-->
        <!--</ul>-->
      </div>
    </div>
  </article>
  <section class="chatWithUser">
    <div class="chatWrapper">
      <h4 class="chatTitle">
        <span class="chatTitle__firstWord">Chat</span>
        with
        <a href="#" class="linkToUserPage linkToUserPage--inChat linkToUserPage--blue">Alis Kim</a>
      </h4>
      <div class="commentsBox">
        <div class="commentsItem commentsItem--left">
          <p class="commentsItem__text commentsItem__text--left">One line chat message</p>
        </div>
        <div class="commentsItem commentsItem--right">
          <p class="commentsItem__text commentsItem__text--right">Multi line chat message. Some  text for multi line message. What is your name. Oh sorry. My bad, your name I think  Alis. Right? Please send me your contacts. May be your facebook page or some think alse. How much cost this t shirt? </p>
        </div>
        <form action="#" class="form form--addComment form--borderColor">
          <input type="text" class="form__addCommentInput" placeholder="Type some text here">
          <button type="submit" class="form__addCommentSubmit"></button>
        </form>
      </div>
    </div>
    <div class="connectedUsers">
      <p class="connectedUsers__title">Connected</p>
      <div class="connectedUsers__wrapper">
        <div class="user user--connectedUsrIndent">
          <div class="user__avatarWrap">
            <img class="user__avatar" src="./../../assets/img/userAllisKim.png" alt="user avatar">
          </div>
          <p class="user__name user__name--grayColor">Allis Kim</p>
        </div>
        <div class="user user--connectedUsrIndent">
          <div class="user__avatarWrap">
            <img class="user__avatar" src="./../../assets/img/userAvatar.png" alt="user avatar">
          </div>
          <p class="user__name user__name--grayColor">Kim Evans</p>
        </div>
        <div class="user user--connectedUsrIndent">
          <div class="user__avatarWrap">
            <img class="user__avatar" src="./../../assets/img/userAllisKim.png" alt="user avatar">
          </div>
          <p class="user__name user__name--grayColor">Allis Kim</p>
        </div>
      </div>
    </div>
  </section>
</section>
<app-footer></app-footer>
