<form
  [formGroup]="signUpForm"
  class="tabContent__item"
  (ngSubmit)="handleSubmit()"
>
  <input
    type="text"
    class="input"
    placeholder="Enter your username"
    formControlName="userName"
  >
  <app-error
    *ngIf="signUpForm.get('userName').invalid && signUpForm.get('userName').dirty"
    [Input]="signUpForm.get('userName')">
  </app-error>
  <input
    type="text"
    class="input"
    placeholder="Enter email"
    formControlName="email"
  >
  <app-error
    *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').dirty"
    [Input]="signUpForm.get('email')">
  </app-error>
  <input
      type="password"
      class="input"
      placeholder="Enter password"
      formControlName="password"
  >
  <app-error
    *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').dirty"
    [Input]="signUpForm.get('password')"></app-error>
  <input
    type="password"
    class="input"
    placeholder="Confirm password"
    formControlName="confirmPassword"
  >
  <app-error *ngIf="signUpForm.get('confirmPassword').invalid && signUpForm.get('confirmPassword').dirty" [Input]="signUpForm.get('confirmPassword')"></app-error>
  <button
    type="submit"
    class="submitBtn"
    [disabled]="!signUpForm.valid"
  >Sign Up</button>
</form>
